body {
  position: relative; }

* {
  box-sizing: border-box; }

#mega .ui-widget {
  font-family: 'Open Sans', 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
  font-size: 100%; }

#mega * {
  font-family: 'Open Sans', 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif; }

_:-ms-fullscreen,
:root #mega .flex-row img,
:root #mega .flex-colmun img {
  -ms-flex: none;
      flex: none;
  min-height: 1px; }

#mega {
  position: fixed;
  width: 100%;
  background: #494949;
  z-index: 99999;
  top: -405px;
  padding-top: 50px; }
  .admin-bar #mega {
    margin-top: 32px; }
  #mega a {
    text-decoration: none;
    color: #981e32; }
  #mega .grid-part {
    -webkit-transition: none;
            transition: none; }
  #mega .ui-tabs-nav > li:before,
  #mega #mega_crumb > li:before {
    content: none; }
  #mega #megacontent {
    overflow: hidden;
    box-sizing: border-box;
    /*max-height: 326px;*/
    width: 100%;
    position: relative;
    z-index: 2;
    /*height: 326px;*/
    border-bottom: 1px solid #444;
    border-left: 1px solid #444;
    border-right: 1px solid #444;
    background: #82898e;
    padding: 10px; }
  #mega .open {
    box-shadow: black 0px -2px 29px; }
  #mega .open #megacontent {
    box-shadow: black 0px 7px 29px; }
  #mega #megatail {
    width: 100%;
    height: 150px;
    position: absolute;
    top: -63px;
    right: 0px;
    background: #333333; }
  #mega a svg#Layer_1 {
    height: 1em;
    margin-left: 0.4em;
    width: 2em; }
  #mega a svg#Layer_1 path, #mega a svg#Layer_1 polygon {
    fill: #000000 !important; }
  #mega #mm_opener {
    width: 175px;
    height: 74px;
    background: rgba(51, 51, 51, 0) url("https://webcore.fais.wsu.edu/resources/central_FnA_theme/megamenu/images/megatab-bk.png") center center repeat;
    position: absolute;
    bottom: -63px;
    right: 0px;
    line-height: 45px;
    font-size: 2em;
    text-align: center;
    cursor: pointer;
    color: #fff; }
  #mega #mm_opener span {
    padding-top: 0px;
    margin-left: 0.6em;
    width: 3.1em;
    height: 2em;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-top: 0.8em;
    background-color: transparent; }
  #mega #mm_opener i, #mega #mm_opener i:before, #mega #mm_opener i:after {
    width: 4px;
    height: 34px;
    box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.75);
    display: block;
    position: absolute;
    top: 19px;
    right: 22px; }
  #mega #mm_opener i:before, #mega #mm_opener i:after {
    content: ""; }
  #mega #mm_opener i:before {
    right: 6px;
    top: 0px; }
  #mega #mm_opener i:after {
    right: 12px;
    top: 0; }
  #mega #mega_header {
    min-height: 35px; }
  #mega #mega_header h2 {
    color: #fff;
    font-weight: 500;
    font-style: italic;
    font-size: 2.6em;
    margin-bottom: 14px; }
  #mega #mega_crumb {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 6px;
    width: auto; }
  #mega #mega_crumb li {
    display: inline-block; }
  #mega #mega_crumb li a {
    font-size: 14px;
    font-weight: 400;
    color: #1f1f1f;
    font-style: italic; }
  #mega #mega_crumb li a:hover {
    color: #000; }
  #mega #mega_crumb li:nth-child(1) a {
    font-size: 19px;
    font-weight: 600; }
  #mega ol, #mega ul {
    padding: 0; }
  #mega .ui-helper-clearfix:before, #mega .ui-helper-clearfix:after {
    content: "";
    display: table;
    border-collapse: collapse; }
  #mega .ui-helper-clearfix:after {
    clear: both; }
  #mega .ui-helper-clearfix:before, #mega .ui-helper-clearfix:after {
    content: "";
    display: table;
    border-collapse: collapse; }
  #mega .ui-tabs-panel ol, #mega .ui-tabs-panel ul, #mega #mesga .ui-tabs-panel ol a, #mega .ui-tabs-panel ul a {
    font-weight: 600;
    font-size: 1.3em; }
  #mega .ui-tabs-panel ol, #mega .ui-tabs-panel ul {
    padding-left: 1em; }
  #mega .service_areas {
    padding-right: 1em; }
  #mega .highlights {
    position: relative;
    padding-left: 1em; }
  #mega .highlights:before {
    width: 4px;
    height: 100%;
    box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.75);
    display: block;
    position: absolute;
    top: 3px;
    left: -4px;
    content: ""; }
  #mega #mega_crumb li a:after {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
    content: "\f101";
    margin-left: 5px; }
  #mega #mega_crumb li:last-child a:after {
    content: ""; }
  #mega .ui-widget-content {
    background: none;
    border: none; }
  #mega .ui-widget-content .ui-widget-content {
    box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.75);
    border: 1px solid #f1f1f1;
    background: #cdcec9; }
  #mega .ui-tabs-vertical {
    width: 100%; }
  #mega .ui-tabs-vertical .ui-tabs-nav {
    padding: 0;
    float: left;
    width: 300px;
    box-sizing: border-box;
    z-index: 2;
    margin: 0; }
  #mega .ui-tabs-vertical .ui-tabs-nav li {
    width: 100%;
    white-space: normal;
    line-height: 1.8em;
    font-size: 10px; }
  #mega .ui-tabs-vertical .ui-tabs-nav li a {
    display: block; }
  #mega .ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
    padding-bottom: 0;
    padding-right: 0.3em;
    width: calc( 100% + 4px);
    border-top: 1px solid #fff;
    /* border-right-width: 1px; */
    /* border-right: none; */
    background: #cdcec9; }
  #mega .ui-tabs-vertical .ui-tabs-panel {
    padding: 1em;
    float: right;
    width: calc(100% - 300px);
    max-height: 500px;
    overflow-y: auto;
    box-sizing: border-box;
    height: auto;
    z-index: 1; }
  #mega li.ui-state-default.ui-corner-left {
    background: none;
    border: none;
    color: #fff; }
  #mega ul.ui-tabs-nav.ui-helper-reset.ui-helper-clearfix.ui-widget-header.ui-corner-all {
    background: none;
    border: none; }
  #mega .ui-tabs-vertical .ui-tabs-nav li a {
    color: #fff;
    font-weight: 700;
    text-shadow: 1px 1px 1px #000;
    font-size: 17px;
    padding: 9px 5px;
    position: relative;
    width: 100%;
    /**/
    box-sizing: border-box; }
  #mega li.ui-state-default.ui-corner-left a:hover, #mega .ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor {
    background: none;
    /* border: 1px solid #fff; */
    border-right: none;
    /* background: rgba(255, 255, 255, 0.61) url('http://webcore.fais.wsu.edu/resources/central_FnA_theme/megamenu/images/content-bk.jpg') center center repeat; */
    border-right: 0;
    border: 1px solid #fff;
    /* border-right-width: 1px; */
    border-right: none;
    width: calc( 100% - -2px);
    margin-top: -2px;
    padding-bottom: 13px;
    margin-bottom: -3.3px;
    border-top: none; }
  #mega .ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor {
    border-left-color: #424242;
    color: #131313;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.26); }
  #mega .ui-tabs-vertical .ui-tabs-nav li a:focus, #mega .ui-tabs-vertical .ui-tabs-nav li a:hover {
    color: #131313;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.26);
    text-decoration: none; }
  #mega .ui-tabs-vertical .ui-tabs-nav li a:focus {
    outline: none;
    outline: -webkit-focus-ring-color auto 0;
    outline-offset: 0; }
  #mega .ui-tabs-vertical .ui-tabs-nav li a:before {
    width: 100%;
    /**/
    height: 4px;
    box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.75);
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    content: ""; }
  @media only screen and (max-width: 768px) {
    #mega .ui-tabs-vertical .ui-tabs-nav.full-width-at-768,
    #mega .ui-tabs-vertical .ui-tabs-panel.full-width-at-768 {
      width: 100%; }
    #mega #res_selected {
      display: block; }
    #mega .highlights:before {
      display: none; }
    #mega .drop-element.drop-open {
      display: block;
      width: calc(100% - 22px); } }
  #mega .leadership_bio {
    padding: 0px;
    margin: 0px;
    font-size: 14px;
    text-align: center; }
  #mega .leadership_bio p {
    padding: 0px;
    margin: 0px;
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 15px;
    /*max-height:174px;*/ }
  #mega .leadership_bio img {
    width: 100%;
    max-width: 100%;
    height: auto;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none; }
  #mega .leadership_bio h2 {
    padding: 0px;
    margin: 0px;
    margin-bottom: 5px;
    text-align: center;
    line-height: 25px; }
  #mega .leadership_bio p:last-child {
    margin: 0px; }

_::-webkit-full-page-media, _:future, :root #mega .ui-tabs-vertical .ui-tabs-panel {
  float: none; }

_::-webkit-full-page-media, _:future, :root #mega .ui-tabs-vertical .ui-tabs-nav {
  float: none; }

@media (max-width: 989px) {
  /*.alignright-at-992{
        float:right;
    }*/
  body.admin-bar #mega {
    margin-top: 1px; }
  #mega .ui-tabs-vertical .ui-tabs-nav {
    width: 225px; }
  #mega .ui-tabs-vertical .ui-tabs-panel {
    width: calc(100% - 225px);
    font-size: 80%; }
  #mega li.ui-state-default.ui-corner-left a:hover, #mega .ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor {
    background: none;
    /* border: 1px solid #fff; */
    border-right: none;
    /* background: rgba(255, 255, 255, 0.61) url(http://webcore.fais.wsu.edu/resources/central_FnA_theme/megamenu/images/content-bk.jpg) center center repeat; */
    border-right: 0;
    border: 1px solid #fff;
    /* border-right-width: 1px; */
    border-right: none;
    width: calc( 100% - -2px);
    margin-top: -2px;
    padding-bottom: 13px;
    margin-bottom: -3.3px;
    border-top: none; }
  #mega .ui-tabs-vertical .ui-tabs-nav li a {
    color: #fff;
    font-weight: 600;
    text-shadow: 1px 1px 1px #000;
    font-size: 15px;
    padding: 9px 5px;
    position: relative;
    width: 100%;
    box-sizing: border-box; } }

.drop-element {
  z-index: 99999; }

#res_wrap {
  position: relative; }

#res_selected {
  font-size: 2.1em;
  font-weight: 700;
  border: 2px solid #494949;
  border-radius: 5px;
  padding: 5px;
  padding-left: 5px;
  background-color: #fff;
  cursor: pointer;
  position: relative;
  min-height: 1.3em;
  padding-right: 1.15em;
  line-height: 1em; }

#res_selected:after {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  font-size: 1em;
  line-height: 1em;
  color: #000;
  content: "\f150";
  position: absolute;
  top: 15.3%;
  right: .25em; }

.res-menu-wrap {
  position: absolute;
  top: 0px;
  left: 0px;
  background: #fff;
  border: 2px solid #1f1f1f;
  border-radius: 5px;
  font-size: 1.7em;
  padding: 3px 5px;
  box-shadow: 0 0 5px black;
  width: 100%;
  z-index: 3;
  margin: 0; }

.res-menu-wrap li {
  padding: 0;
  margin: 0; }

.res-menu-wrap a {
  color: #1f1f1f;
  width: 100%;
  display: inline-block;
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 3px;
  font-weight: 700; }

.res-menu-wrap a:hover,
.res-menu-wrap .active a {
  color: #337ab7;
  border: 2px solid #1f1f1f;
  box-shadow: 0 0 5px black; }

#res_selected {
  display: none; }

@media screen and (max-width: 791px) {
  #mega #mm_opener {
    background: #191b1d;
    height: 59px;
    bottom: -49px;
    width: 87px; }
  #mega #mm_opener:hover {
    background: #494e52; }
  #mega #mm_opener span {
    width: 2.1em; }
  #mega #mm_opener i {
    right: 66px; } }

@media only screen and (max-width: 530px) {
  #binder #wsu-signature, [class*="-signature"] #binder #wsu-signature {
    background-size: calc(100% - 148px) auto;
    background-position: calc(50% + -20px) 60%; } }