

a {
    text-decoration: none;
    color: #981e32;
}
.grid-part{
    transition:none;
}



#megacontent{
    overflow: hidden;
    box-sizing: border-box;
    /*max-height: 326px;*/
    width: 100%;
    position: relative;
    z-index: 2;
    /*height: 326px;*/
    border-bottom:1px solid #444;
    border-left:1px solid #444;
    border-right:1px solid #444;
    background:#82898e;
    //background: #494949 url('https://webcore.fais.wsu.edu/resources/central_FnA_theme/megamenu/images/mega-content-bk.png') center center repeat;
    padding: 10px;
}
.open{
    box-shadow: rgb(0, 0, 0) 0px -2px 29px;
}
.open #megacontent{
    box-shadow: rgb(0, 0, 0) 0px 7px 29px;
}
#megatail{width: 100%;
    height: 150px;
    position: absolute;
    top: -63px;
    right: 0px;
	background: rgba(51, 51, 51, 1);
}
a svg#Layer_1 {
    height: 1em;
    margin-left: 0.4em;
    width:2em;
}
a svg#Layer_1 path, a svg#Layer_1 polygon {
    fill: #000000 !important;
}


#mm_opener{
    width: 175px;
    height: 74px;
    background: rgba(51, 51, 51, 0) url('https://webcore.fais.wsu.edu/resources/central_FnA_theme/megamenu/images/megatab-bk.png') center center repeat;
    position: absolute;
    bottom: -63px;
    right: 0px;
    line-height: 45px;
    font-size: 2em;
    text-align: center;
    cursor: pointer;
    color: #fff;
}

#mm_opener span {
    padding-top: 0px;
    margin-left: 0.6em;
    width: 3.1em;
    height: 2em;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-top: 0.8em;
    background-color: transparent;
}
#mm_opener i,#mm_opener i:before,#mm_opener i:after{
    width: 4px;
    height: 34px;
    box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.75);
    display: block;
    position: absolute;
    top: 19px;
    right: 22px;
}
#mm_opener i:before,#mm_opener i:after{
    content:"";
}

#mm_opener i:before{right: 6px;
    top: 0px;
}
#mm_opener i:after{right: 12px;
    top: 0;
}

#mega_header{
    min-height: 35px;
}

#mega_header h2 {
    color: #fff;
    font-weight: 500;
    font-style: italic;
    font-size: 2.6em;
    margin-bottom: 14px;
}



#mega_crumb{
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 6px;
}
#mega_crumb li{
    display: inline-block;
}
#mega_crumb li a{
    font-size: 14px;
    font-weight: 400;
    color: #1f1f1f;
    font-style: italic;
}
#mega_crumb li a:hover{
    color: #000;
}
#mega_crumb li:nth-child(1) a{
    font-size: 19px;
    font-weight: 600;
}


 ol,  ul {
    padding: 0;
}

 .ui-tabs-panel ol,  .ui-tabs-panel ul, #mesga .ui-tabs-panel ol a,  .ui-tabs-panel ul a {
    font-weight: 600;
    font-size: 1.3em;
}

 .ui-tabs-panel ol,  .ui-tabs-panel ul {
    padding-left: 1em;
}


 .service_areas{
    padding-right: 1em;
}
 .highlights{
    position: relative;
    padding-left: 1em;
}
 .highlights:before{
    width: 4px;
    height: 100%;
    box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.75);
    display: block;
    position: absolute;
    top: 3px;
    left: -4px;
    content:"";
}


#mega_crumb li a:after{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    content: "\f101";
    margin-left: 5px;
}

#mega_crumb li:last-child a:after{
    content: "";
}


.ui-widget-content {
    background:none;
    border:none;
}

.ui-widget-content .ui-widget-content {
    box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.75);
    border: 1px solid #f1f1f1;
    background:#cdcec9;
    //background: rgba(255, 255, 255, 0.61) url('https://webcore.fais.wsu.edu/resources/central_FnA_theme/megamenu/images/content-bk.jpg') center center repeat;
}
.ui-tabs-vertical {
    width: 100%;
}
.ui-tabs-vertical .ui-tabs-nav {
    padding:0;
    float: left;
    width: 300px;
    box-sizing: border-box;
    z-index: 2;
}
.ui-tabs-vertical .ui-tabs-nav li {
    width: 100%;
    white-space: normal;
    line-height: 1.8em;
}
.ui-tabs-vertical .ui-tabs-nav li a {
    display:block;
}
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
    padding-bottom: 0;
    padding-right: 0.3em;
    width: calc( 100% + 4px );
    border-top: 1px solid #fff;
    /* border-right-width: 1px; */
    /* border-right: none; */
    background:#cdcec9;
    //background: rgba(255, 255, 255, 0.61) url('https://webcore.fais.wsu.edu/resources/central_FnA_theme/megamenu/images/content-bk.jpg') center center repeat;
}

.ui-tabs-vertical .ui-tabs-panel {
    padding: 1em;
    float: right;
    width: calc(100% - 300px);
    max-height: 500px;
    overflow-y: auto;
    box-sizing: border-box;
    height: auto;
    z-index: 1;
}

li.ui-state-default.ui-corner-left {
    background: none;
    border: none;
    color: #fff;
}

ul.ui-tabs-nav.ui-helper-reset.ui-helper-clearfix.ui-widget-header.ui-corner-all {
    background: none;
    border: none;
}

.ui-tabs-vertical .ui-tabs-nav li a {
	color: #fff;
	font-weight: 900;
	text-shadow: 1px 1px 1px #000;
	font-size: 17px;
	padding: 9px 5px;
	position: relative;
	width: 100%;/**/
	box-sizing: border-box;
}
li.ui-state-default.ui-corner-left a:hover, .ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor {
background: none;
    /* border: 1px solid #fff; */
    border-right: none;
    /* background: rgba(255, 255, 255, 0.61) url('http://webcore.fais.wsu.edu/resources/central_FnA_theme/megamenu/images/content-bk.jpg') center center repeat; */
    border-right: 0;
    border: 1px solid #fff;
    /* border-right-width: 1px; */
    border-right: none;
    width: calc( 100% - -2px);
    margin-top: -2px;
    padding-bottom: 13px;
    margin-bottom: -3.3px;
    border-top: none;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor {
    border-left-color: #424242;
    color: #131313;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.26);
}
.ui-tabs-vertical .ui-tabs-nav li a:focus, .ui-tabs-vertical .ui-tabs-nav li a:hover {
    color: #131313;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.26);
    text-decoration: none;
}
.ui-tabs-vertical .ui-tabs-nav li a:focus {
    outline: none;
    outline: -webkit-focus-ring-color auto 0;
    outline-offset: 0;
}
.ui-tabs-vertical .ui-tabs-nav li a:before {
    width: 100%;/**/
    height: 4px;
    box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.75);
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
	content:"";
}





@media only screen and (max-width: 768px){
    .ui-tabs-vertical .ui-tabs-nav.full-width-at-768,
    .ui-tabs-vertical .ui-tabs-panel.full-width-at-768 {
        width: 100%;
    }
    #res_selected
    {display:block;}//.res-menu-wrap.active
     .highlights:before{display:none;}
    .drop-element.drop-open {
        display: block;
        width: calc(100% - 22px);
    }
}

  a[href^="mailto:"]:before {
    font-size: 13px;
}

  a[href^="mailto:"] {
    padding: 0px 5px;
    margin: 0px;
    height: 28px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.leadership_bio {
    padding: 0px;
    margin: 0px;
    font-size: 14px;
    text-align: center;
}
.leadership_bio p {
    padding: 0px;
    margin: 0px;
    margin-bottom:5px;
    font-size: 14px;
    line-height:15px;
    /*max-height:174px;*/
}
.leadership_bio img {
    width: 100%;
    max-width: 100%;
    height: auto;
    flex:none;
}
.leadership_bio h2{
    padding: 0px;
    margin: 0px;
    margin-bottom:5px;
    text-align: center;
    line-height:25px;
}
.leadership_bio p:last-child {
    margin: 0px;
}
