@media only screen and (max-width:992px){.column-at-992,.column-reverse-at-992,.row-at-992,.row-reverse-at-992{-js-display:-webkit-box;-js-display:-ms-flexbox;-js-display:flex;display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}.row-at-992{-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row}.row-reverse-at-992{-webkit-box-orient:horizontal;-webkit-box-direction:reverse;-ms-flex-direction:row-reverse;flex-direction:row-reverse}.column-at-992{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}.column-reverse-at-992{-webkit-box-orient:vertical;-webkit-box-direction:reverse;-ms-flex-direction:column-reverse;flex-direction:column-reverse}.hide-below-992{display:none!important}.wrap-at-992{-ms-flex-wrap:wrap;flex-wrap:wrap}.nowrap-at-992{-ms-flex-wrap:nowrap;flex-wrap:nowrap}.wrap-reverse-at-992{-ms-flex-wrap:wrap-reverse;flex-wrap:wrap-reverse}.justify-start-at-992{-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start}.justify-end-at-992{-webkit-box-pack:end;-ms-flex-pack:end;justify-content:flex-end}.justify-center-at-992{-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}.justify-between-at-992{-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}.justify-around-at-992{-ms-flex-pack:distribute;justify-content:space-around}.content-start-at-992{-ms-flex-line-pack:start;align-content:flex-start}.content-center-at-992{-ms-flex-line-pack:center;align-content:center}.content-between-at-992{-ms-flex-line-pack:justify;align-content:space-between}.content-around-at-992{-ms-flex-line-pack:distribute;align-content:space-around}.content-end-at-992{-ms-flex-line-pack:stretch;align-content:stretch}.items-start-at-992{-webkit-box-align:start;-ms-flex-align:start;align-items:flex-start}.items-end-at-992{-webkit-box-align:end;-ms-flex-align:end;align-items:flex-end}.items-center-at-992{-webkit-box-align:center;-ms-flex-align:center;align-items:center}.items-baseline-at-992{-webkit-box-align:baseline;-ms-flex-align:baseline;align-items:baseline}.items-stretch-at-992{-webkit-box-align:stretch;-ms-flex-align:stretch;align-items:stretch}.order-1-at-992{-webkit-box-ordinal-group:2;-ms-flex-order:1;order:1}.order-2-at-992{-webkit-box-ordinal-group:3;-ms-flex-order:2;order:2}.order-3-at-992{-webkit-box-ordinal-group:4;-ms-flex-order:3;order:3}.order-4-at-992{-webkit-box-ordinal-group:5;-ms-flex-order:4;order:4}.order-5-at-992{-webkit-box-ordinal-group:6;-ms-flex-order:5;order:5}.order-6-at-992{-webkit-box-ordinal-group:7;-ms-flex-order:6;order:6}.order-7-at-992{-webkit-box-ordinal-group:8;-ms-flex-order:7;order:7}.order-8-at-992{-webkit-box-ordinal-group:9;-ms-flex-order:8;order:8}.order-9-at-992{-webkit-box-ordinal-group:10;-ms-flex-order:9;order:9}.order-10-at-992{-webkit-box-ordinal-group:11;-ms-flex-order:10;order:10}.order-11-at-992{-webkit-box-ordinal-group:12;-ms-flex-order:11;order:11}.order-12-at-992{-webkit-box-ordinal-group:13;-ms-flex-order:12;order:12}.order-last-at-992{-webkit-box-ordinal-group:1000;-ms-flex-order:999;order:999}.twelfths-1-at-992{width:8.333%}.tenths-1-at-992{width:10%}.ninths-1-at-992{width:11.111%}.eigths-1-at-992{width:12.5%}.sixths-1-at-992,.twelfths-2-at-992{width:16.666%}.fifths-1-at-992,.tenths-2-at-992{width:20%}.ninths-2-at-992{width:22.222%}.eigths-2-at-992,.fourths-1-at-992,.twelfths-3-at-992{width:25%}.tenths-3-at-992{width:30%}.ninths-3-at-992,.sixths-2-at-992,.thirds-1-at-992,.twelfths-4-at-992{width:33.333%}.eigths-3-at-992{width:37.5%}.fifths-2-at-992,.tenths-4-at-992{width:40%}.twelfths-5-at-992{width:41.666%}.ninths-4-at-992{width:44.444%}.eigths-4-at-992,.fourths-2-at-992,.sixths-3-at-992,.tenths-5-at-992,.twelfths-6-at-992{width:50%}.ninths-5-at-992{width:55.555%}.twelfths-7-at-992{width:58.333%}.fifths-3-at-992,.tenths-6-at-992{width:60%}.eigths-5-at-992{width:62.5%}.ninths-6-at-992,.sixths-4-at-992,.thirds-2-at-992,.twelfths-8-at-992{width:66.666%}.tenths-7-at-992{width:70%}.eigths-6-at-992,.fourths-3-at-992,.twelfths-9-at-992{width:75%}.ninths-7-at-992{width:77.777%}.fifths-4-at-992,.tenths-8-at-992{width:80%}.sixths-5-at-992,.twelfths-10-at-992{width:83.333%}.ninths-8-at-992{width:88.888%}.tenths-9-at-992{width:90%}.twelfths-11-at-992{width:91.666%}.eigths-8-at-992,.fifths-5-at-992,.fourths-4-at-992,.full-width-at-992,.ninths-6-at-992,.sixths-6-at-992,.tenths-10-at-992,.thirds-3-at-992,.twelfths-12-at-992{width:100%}.h-twelfths-1-at-992{height:8.333%}.h-tenths-1-at-992{height:10%}.h-ninths-1-at-992{height:11.111%}.h-eigths-1-at-992{height:12.5%}.h-sixths-1-at-992,.h-twelfths-2-at-992{height:16.666%}.h-fifths-1-at-992,.h-tenths-2-at-992{height:20%}.h-ninths-2-at-992{height:22.222%}.h-eigths-2-at-992,.h-fourths-1-at-992,.h-twelfths-3-at-992{height:25%}.h-tenths-3-at-992{height:30%}.h-ninths-3-at-992,.h-sixths-2-at-992,.h-thirds-1-at-992,.h-twelfths-4-at-992{height:33.333%}.h-eigths-3-at-992{height:37.5%}.h-fifths-2-at-992,.h-tenths-4-at-992{height:40%}.h-twelfths-5-at-992{height:41.666%}.h-ninths-4-at-992{height:44.444%}.h-eigths-4-at-992,.h-fourths-2-at-992,.h-sixths-3-at-992,.h-tenths-5-at-992,.h-twelfths-6-at-992{height:50%}.h-ninths-5-at-992{height:55.555%}.h-twelfths-7-at-992{height:58.333%}.h-fifths-3-at-992,.h-tenths-6-at-992{height:60%}.h-eigths-5-at-992{height:62.5%}.h-ninths-6-at-992,.h-sixths-4-at-992,.h-thirds-2-at-992,.h-twelfths-8-at-992{height:66.666%}.h-tenths-7-at-992{height:70%}.h-eigths-6-at-992,.h-fourths-3-at-992,.h-twelfths-9-at-992{height:75%}.h-ninths-7-at-992{height:77.777%}.h-fifths-4-at-992,.h-tenths-8-at-992{height:80%}.h-sixths-5-at-992,.h-twelfths-10-at-992{height:83.333%}.h-ninths-8-at-992{height:88.888%}.h-tenths-9-at-992{height:90%}.h-twelfths-11-at-992{height:91.666%}.h-eigths-8-at-992,.h-fifths-5-at-992,.h-fourths-4-at-992,.h-full-height-at-992,.h-ninths-6-at-992,.h-sixths-6-at-992,.h-tenths-10-at-992,.h-thirds-3-at-992,.h-twelfths-12-at-992{height:100%}.h-auto-at-992{height:auto}}

@media only screen and (max-width:360px){.column-at-360,.column-reverse-at-360,.row-at-360,.row-reverse-at-360{-js-display:-webkit-box;-js-display:-ms-flexbox;-js-display:flex;display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}.row-at-360{-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row}.row-reverse-at-360{-webkit-box-orient:horizontal;-webkit-box-direction:reverse;-ms-flex-direction:row-reverse;flex-direction:row-reverse}.column-at-360{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}.column-reverse-at-360{-webkit-box-orient:vertical;-webkit-box-direction:reverse;-ms-flex-direction:column-reverse;flex-direction:column-reverse}.hide-below-360{display:none!important}.wrap-at-360{-ms-flex-wrap:wrap;flex-wrap:wrap}.nowrap-at-360{-ms-flex-wrap:nowrap;flex-wrap:nowrap}.wrap-reverse-at-360{-ms-flex-wrap:wrap-reverse;flex-wrap:wrap-reverse}.justify-start-at-360{-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start}.justify-end-at-360{-webkit-box-pack:end;-ms-flex-pack:end;justify-content:flex-end}.justify-center-at-360{-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}.justify-between-at-360{-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}.justify-around-at-360{-ms-flex-pack:distribute;justify-content:space-around}.content-start-at-360{-ms-flex-line-pack:start;align-content:flex-start}.content-center-at-360{-ms-flex-line-pack:center;align-content:center}.content-between-at-360{-ms-flex-line-pack:justify;align-content:space-between}.content-around-at-360{-ms-flex-line-pack:distribute;align-content:space-around}.content-end-at-360{-ms-flex-line-pack:stretch;align-content:stretch}.items-start-at-360{-webkit-box-align:start;-ms-flex-align:start;align-items:flex-start}.items-end-at-360{-webkit-box-align:end;-ms-flex-align:end;align-items:flex-end}.items-center-at-360{-webkit-box-align:center;-ms-flex-align:center;align-items:center}.items-baseline-at-360{-webkit-box-align:baseline;-ms-flex-align:baseline;align-items:baseline}.items-stretch-at-360{-webkit-box-align:stretch;-ms-flex-align:stretch;align-items:stretch}.order-1-at-360{-webkit-box-ordinal-group:2;-ms-flex-order:1;order:1}.order-2-at-360{-webkit-box-ordinal-group:3;-ms-flex-order:2;order:2}.order-3-at-360{-webkit-box-ordinal-group:4;-ms-flex-order:3;order:3}.order-4-at-360{-webkit-box-ordinal-group:5;-ms-flex-order:4;order:4}.order-5-at-360{-webkit-box-ordinal-group:6;-ms-flex-order:5;order:5}.order-6-at-360{-webkit-box-ordinal-group:7;-ms-flex-order:6;order:6}.order-7-at-360{-webkit-box-ordinal-group:8;-ms-flex-order:7;order:7}.order-8-at-360{-webkit-box-ordinal-group:9;-ms-flex-order:8;order:8}.order-9-at-360{-webkit-box-ordinal-group:10;-ms-flex-order:9;order:9}.order-10-at-360{-webkit-box-ordinal-group:11;-ms-flex-order:10;order:10}.order-11-at-360{-webkit-box-ordinal-group:12;-ms-flex-order:11;order:11}.order-12-at-360{-webkit-box-ordinal-group:13;-ms-flex-order:12;order:12}.order-last-at-360{-webkit-box-ordinal-group:1000;-ms-flex-order:999;order:999}.twelfths-1-at-360{width:8.333%}.tenths-1-at-360{width:10%}.ninths-1-at-360{width:11.111%}.eigths-1-at-360{width:12.5%}.sixths-1-at-360,.twelfths-2-at-360{width:16.666%}.fifths-1-at-360,.tenths-2-at-360{width:20%}.ninths-2-at-360{width:22.222%}.eigths-2-at-360,.fourths-1-at-360,.twelfths-3-at-360{width:25%}.tenths-3-at-360{width:30%}.ninths-3-at-360,.sixths-2-at-360,.thirds-1-at-360,.twelfths-4-at-360{width:33.333%}.eigths-3-at-360{width:37.5%}.fifths-2-at-360,.tenths-4-at-360{width:40%}.twelfths-5-at-360{width:41.666%}.ninths-4-at-360{width:44.444%}.eigths-4-at-360,.fourths-2-at-360,.sixths-3-at-360,.tenths-5-at-360,.twelfths-6-at-360{width:50%}.ninths-5-at-360{width:55.555%}.twelfths-7-at-360{width:58.333%}.fifths-3-at-360,.tenths-6-at-360{width:60%}.eigths-5-at-360{width:62.5%}.ninths-6-at-360,.sixths-4-at-360,.thirds-2-at-360,.twelfths-8-at-360{width:66.666%}.tenths-7-at-360{width:70%}.eigths-6-at-360,.fourths-3-at-360,.twelfths-9-at-360{width:75%}.ninths-7-at-360{width:77.777%}.fifths-4-at-360,.tenths-8-at-360{width:80%}.sixths-5-at-360,.twelfths-10-at-360{width:83.333%}.ninths-8-at-360{width:88.888%}.tenths-9-at-360{width:90%}.twelfths-11-at-360{width:91.666%}.eigths-8-at-360,.fifths-5-at-360,.fourths-4-at-360,.full-width-at-360,.ninths-6-at-360,.sixths-6-at-360,.tenths-10-at-360,.thirds-3-at-360,.twelfths-12-at-360{width:100%}.h-twelfths-1-at-360{height:8.333%}.h-tenths-1-at-360{height:10%}.h-ninths-1-at-360{height:11.111%}.h-eigths-1-at-360{height:12.5%}.h-sixths-1-at-360,.h-twelfths-2-at-360{height:16.666%}.h-fifths-1-at-360,.h-tenths-2-at-360{height:20%}.h-ninths-2-at-360{height:22.222%}.h-eigths-2-at-360,.h-fourths-1-at-360,.h-twelfths-3-at-360{height:25%}.h-tenths-3-at-360{height:30%}.h-ninths-3-at-360,.h-sixths-2-at-360,.h-thirds-1-at-360,.h-twelfths-4-at-360{height:33.333%}.h-eigths-3-at-360{height:37.5%}.h-fifths-2-at-360,.h-tenths-4-at-360{height:40%}.h-twelfths-5-at-360{height:41.666%}.h-ninths-4-at-360{height:44.444%}.h-eigths-4-at-360,.h-fourths-2-at-360,.h-sixths-3-at-360,.h-tenths-5-at-360,.h-twelfths-6-at-360{height:50%}.h-ninths-5-at-360{height:55.555%}.h-twelfths-7-at-360{height:58.333%}.h-fifths-3-at-360,.h-tenths-6-at-360{height:60%}.h-eigths-5-at-360{height:62.5%}.h-ninths-6-at-360,.h-sixths-4-at-360,.h-thirds-2-at-360,.h-twelfths-8-at-360{height:66.666%}.h-tenths-7-at-360{height:70%}.h-eigths-6-at-360,.h-fourths-3-at-360,.h-twelfths-9-at-360{height:75%}.h-ninths-7-at-360{height:77.777%}.h-fifths-4-at-360,.h-tenths-8-at-360{height:80%}.h-sixths-5-at-360,.h-twelfths-10-at-360{height:83.333%}.h-ninths-8-at-360{height:88.888%}.h-tenths-9-at-360{height:90%}.h-twelfths-11-at-360{height:91.666%}.h-eigths-8-at-360,.h-fifths-5-at-360,.h-fourths-4-at-360,.h-full-height-at-360,.h-ninths-6-at-360,.h-sixths-6-at-360,.h-tenths-10-at-360,.h-thirds-3-at-360,.h-twelfths-12-at-360{height:100%}.h-auto-at-360{height:auto}}



body{position: relative;}
#mega *{
    box-sizing: border-box;
}
#mega{
    position:fixed;
    width:100%;
    background:#494949;
    /*height:376px;*/
    //height: calc(attr(data-height) + 50px);
    min-height:405px;
    z-index:99999;
    top:-405px;
    padding-top:50px;
}

.admin-bar #mega{margin-top:32px;}

#megacontent{
    overflow: hidden;
    box-sizing: border-box;
    /*max-height: 326px;*/
    width: 100%;
    position: relative;
    z-index: 2;
    /*height: 326px;*/
    border-bottom:1px solid #444;
    border-left:1px solid #444;
    border-right:1px solid #444;

    background: #494949 url('https://dl.dropboxusercontent.com/s/bx9tt289pxw1tdo/mega-content-bk.png') center center repeat;
    padding: 10px;
}
#mega.open{
    box-shadow: rgb(0, 0, 0) 0px -2px 29px;
}
#mega.open #megacontent{
    box-shadow: rgb(0, 0, 0) 0px 7px 29px;
}
#megatail{width: 100%;
    height: 150px;
    position: absolute;
    top: -63px;
    right: 0px;
	background: rgba(51, 51, 51, 1);
}
#megatab{
    width: 175px;
    height: 74px;
    background: rgba(51, 51, 51, 0) url('https://dl.dropboxusercontent.com/s/ojnbd8t19wak013/megatab-bk.png') center center repeat;
    position: absolute;
    bottom: -63px;
    right: 0px;
    line-height: 45px;
    font-size: 2em;
    text-align: center;
    cursor: pointer;
    color: #fff;
}

#megatab img {
    padding-top: 19px;
    padding-left: 14px;
    width:3.6em;
}
#megatab i,#megatab i:before,#megatab i:after{
    width: 4px;
    height: 34px;
    box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.75);
    display: block;
    position: absolute;
    top: 19px;
    right: 22px;
}
#megatab i:before,#megatab i:after{
    content:"";
}

#megatab i:before{right: 6px;
    top: 0px;
}
#megatab i:after{right: 12px;
    top: 0;
}

#mega_header{
    min-height: 35px;
}

#mega_header h2 {
    color: #fff;
    font-weight: 300;
    font-style: italic;
}



#mega_crumb{
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 6px;
}
#mega_crumb li{
    display: inline-block;
}
#mega_crumb li a{
    font-size: 14px;
    font-weight: 400;
    color: #1f1f1f;
    font-style: italic;
}
#mega_crumb li a:hover{
    color: #000;
}
#mega_crumb li:nth-child(1) a{
    font-size: 19px;
    font-weight: 600;
}


#mega ol, #mega ul {
    padding: 0;
}

#mega .service_areas{
    padding-right: 1em;
}
#mega .highlights{
    position: relative;
    padding-left: 1em;
}
#mega .highlights:before{
    width: 4px;
    height: 100%;
    box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.75);
    display: block;
    position: absolute;
    top: 3px;
    left: -4px;
    content:"";
}


#mega_crumb li a:after{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    content: "\f101";
    margin-left: 5px;
}

#mega_crumb li:last-child a:after{
    content: "";
}


.mega .ui-widget-content {
    background:none;
    border:none;
}

.mega .ui-widget-content .ui-widget-content {
    background: rgba(255, 255, 255, 0.61);
    box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.75);
    border: 1px solid #f1f1f1;
}
.mega .ui-tabs-vertical {
    width: 100%;
}
.mega .ui-tabs-vertical .ui-tabs-nav {
    padding:0;
    float: left;
    width: 300px;
    box-sizing: border-box;
}
.mega .ui-tabs-vertical .ui-tabs-nav li {
    width: 100%;
    white-space: normal;
    line-height: 1.8em;
}
.mega .ui-tabs-vertical .ui-tabs-nav li a {
    display:block;
}
.mega .ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
    padding-bottom: 0;
    padding-right: .1em;
    border-right-width: 1px;
}

.mega .ui-tabs-vertical .ui-tabs-panel {
padding: 1em;
    float: right;
    width: calc(100% - 300px);
    max-height: 500px;
    overflow-y: auto;
    box-sizing: border-box;
    height: auto;
}

.mega li.ui-state-default.ui-corner-left {
    background: none;
    border: none;
    color: #fff;
}

ul.ui-tabs-nav.ui-helper-reset.ui-helper-clearfix.ui-widget-header.ui-corner-all {
    background: none;
    border: none;
}

.mega .ui-tabs-vertical .ui-tabs-nav li a {
	color: #fff;
	font-weight: 900;
	text-shadow: 1px 1px 1px #000;
	font-size: 17px;
	padding: 9px 5px;
	position: relative;
	width: 100%;/**/
	box-sizing: border-box;
	display: inline-block;
}
li.ui-state-default.ui-corner-left a:hover, .ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor {
    background: rgba(249, 249, 249, 0.61);
    border: 1px solid #fff;
    border-right: none;
}
.mega .ui-tabs-vertical .ui-tabs-nav li a:before {
    width: 100%;/**/
    height: 4px;
    box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.75);
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
	content:"";
}



#res_wrap{
    position: relative;
}
#res_selected{
font-size: 2.1em;
    font-weight: 900;
    border: 2px solid #494949;
    border-radius: 5px;
    padding: 5px;
    padding-left: 5px;
    background-color: #fff;
    cursor: pointer;
    position: relative;
    min-height: 1.3em;
    padding-right: 1.15em;
    line-height: 1em;
}
#res_selected:after{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    font-size: 1em;
    line-height: 1em;
    color: #000;
    content: "\f150";
    position: absolute;
    top: 15.3%;
    right: .25em;
}
.res-menu-wrap{
    position: absolute;
    top: 0px;
    left: 0px;
    background: #fff;
    border: 2px solid #1f1f1f;
    border-radius: 5px;
    font-size: 1.7em;
    padding: 3px 5px;
	box-shadow: 0 0 5px rgb(0, 0, 0);
}
.res-menu-wrap li{
    padding: 0;
    margin: 0;
}
.res-menu-wrap a{
    color: #1f1f1f;
    width: 100%;
    display: inline-block;
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 5px;
        margin-bottom: 3px;
            font-weight: 700;
}
.res-menu-wrap a:hover,
.res-menu-wrap .active a{
    color:#337ab7;
    border: 2px solid #1f1f1f;
	box-shadow: 0 0 5px rgb(0, 0, 0);
}

#res_selected,
.res-menu-wrap{display:none;}
@media only screen and (max-width: 768px){
    .mega .ui-tabs-vertical .ui-tabs-nav.full-width-at-768,
    .mega .ui-tabs-vertical .ui-tabs-panel.full-width-at-768 {
        width: 100%;
    }
    #res_selected,
    .res-menu-wrap.active{display:block;}
    #mega .highlights:before{display:none;}
}
